<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/img/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <style>
        #rodape {
      padding: 10px;
      background-color:white;
      color: rgb(0, 0, 0);
      font-family: 'Khand', sans-serif;
      font-size: 1.5em;
      border-top: 1px darkslategrey solid;
    }
    </style>
    <title>Garbosa Turismo-Pacotes</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img class="w3-image w3-round-large" src="../assets/img/logo.png" alt="Home" width="68" height="60" ></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#nacionais">Destinos Nacionais</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato">Destinos Internacionais</a>
                </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          </nav>
        <div>
            <img src="../assets/img/banner1.png" class="img-fluid" alt="...">
        </div>
    </header>
    <main>

    </main>

    <footer>

    </footer>
</body>
</html>