<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/img/logo.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="assets/img/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <script src="assets/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    #rodape {
      padding: 10px;
      background-color: white;
      color: rgb(0, 0, 0);
      font-family: 'Khand', sans-serif;
      font-size: 1.5em;
      border-top: 1px darkslategrey solid;
    }
    #sobre{
      border-top: 1px darkslategrey solid;
      background-color: #f8f9fa;
      padding:12px 
    }
    #tema{
      background-color: #493d8b;
      color: white;
    }

    #promocoes {
      border-top: 1px rgb(6, 7, 7) solid;
      background-color: #493d8b;
      color: white;

    }
  </style>
  <title>Garbosa Turismo</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="w3-image w3-round-large" src="assets/img/logo.png" alt="Home"
            width="68" height="60"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#sobre">Sobre nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/pacotes.html">Pacotes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#promocoes">Promoções</a>
            </li>
          </ul>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <img src="assets/img/banner1.png" class="img-fluid" alt="...">
    </div>
  </br>
  </header>

  <main>
    <div class="container-fluid rounded float" id="promocoes">
    </br>
      <div>
        <h2 class="text-center">Promoções</h2>
      </div>
      </br>
      <div id="carouselExample" class="carousel slide">
        <!--Inicio do primeiro carrosel-->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center align-items-center w-100 h-80 ">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/gramado.jpg" class="card-img-top" alt="Gramado-RS">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Gramado - Férias de Julho - 2023</h5>
                      <p class="card-text">Venha viajar em julho de 2023 e aproveite nossas incríveis ofertas.
                        Você pode escolher entre pacotes de 4, 5 ou 6 diárias para desfrutar de uma viagem memorável.</p>
                      <p class="card-text"></p>
                      <p class="card-text"></p>
                      <a href="https://clubehurb.link/3xuep" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/dubai.jpg" class="card-img-top" alt="Dubai">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Dubai - 2025</h5>
                      <p class="card-text">Aproveite uma emocionante viagem de 5 diárias entre abr/25 e nov/25! Explore novos destinos, 
                        crie memórias inesquecíveis e reserve agora para uma experiência única! </p>
                      </br>
                      <a href="https://clubehurb.link/3xuf4" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/fortaleza.jpg" class="card-img-top" alt="Fortaleza + Beach park">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Fortaleza + Beach Park - 2024</h5>
                      <p class="card-text">
                        Aproveite e venha descubrir Fortaleza com uma emocionante viagem de 4 diárias entre mar/24 e nov/24! Desfrute das belas praias, cultura rica e hospitalidade local.
                      </p>
                      <a href="https://clubehurb.link/4d88n" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
              </div>
            </div>
          </div>
           <!--Inicio do Segundo carrosel-->
        <div class="carousel-inner">
          <div class="carousel-item ">
            <div class="d-flex justify-content-center align-items-center w-100 h-80 ">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/caldas-novas.jpg" class="card-img-top" alt="Caldas Novas">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Caldas Novas - 2024</h5>
                      <p class="card-text">Aproveite uma viagem inesquecível para Caldas Novas com 5 diárias entre mar/24 e nov/24! Desfrute das famosas águas termais, explore os parques aquáticos, relaxe em resorts de qualidade.</p>
                      <p class="card-text"></p>
                      <p class="card-text"></p>
                      <a href="https://clubehurb.link/3xufz" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/buenos_aires.jpg" class="card-img-top" alt="Buenos Aires">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Buenos Aires - 2024</h5>
                      <p class="card-text">Descubra Buenos Aires com 4 diárias entre mar/24 e nov/24! Explore a vibrante cultura, gastronomia deliciosa e pontos turísticos icônicos. 
                        Embarque em uma viagem emocionante! </p>
                      <a href="https://clubehurb.link/3xug1" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/beto carrero.jpg" class="card-img-top" alt="BCW">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Beto Carrero - 2024</h5>
                      <p class="card-text">
                        Beto Carrero é um incrível parque de diversões localizado no Brasil, perfeito para uma viagem entre março e dezembro, com 4 diárias de pura diversão. Com suas atrações emocionantes.
                      </p>
                      <a href="https://clubehurb.link/3xuhn" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
              </div>
            </div>
          </div>
          <!--Inicio do Terceiro carrosel-->
        <div class="carousel-inner">
          <div class="carousel-item ">
            <div class="d-flex justify-content-center align-items-center w-100 h-80 ">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/porto.jpg" class="card-img-top" alt="Porto de Galinhas">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Porto de Galinhas + Carneiros - 2024</h5>
                      <p class="card-text">Viaje entre março e novembro de 2024 para Porto de Galinhas e Carneiros, com 9 diárias. Explore praias paradisíacas, mergulhe em piscinas naturais e aproveite a cultura local. Desfrute de um paraíso tropical inesquecível.</p>
                    
                      <p class="card-text"></p>
                      <p class="card-text"></p>
                      <a href="https://clubehurb.link/4d8b3" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/nice.jpg" class="card-img-top" alt="Nice">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Nice França - 2025</h5>
                      <p class="card-text">Explore a deslumbrante cidade de Nice, na França, com 7 diárias entre março e novembro de 2025. Descubra a sofisticada Riviera Francesa, com suas praias, cultura e gastronomia. </p>
                      <a href="https://clubehurb.link/3xui3" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/promocoes/foz.jpg" class="card-img-top" alt="foz">
                    <div class="card-body">
                      <h5 class="card-title">Pacote de Viagem - Foz do Iguaçu-2024</h5>
                      <p class="card-text">
                        Aventure-se em Foz do Iguaçu com um pacote de 3 diárias entre março e novembro de 2024. Explore as impressionantes Cataratas do Iguaçu, uma das maravilhas naturais do mundo.
                      </p>
                      <a href="https://clubehurb.link/3xuie" class="btn btn-primary">Saiba mais</a>
                    </div>
                  </div>
                </br>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          <!--Fim do Segundo carrosel-->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </br>
      </div>
    </br>
      </div>
      <div class="container-fluid" id="sobre">
        <div>
          <h2 class="text-center">Quem somos:</h2>
        </div>
        <div class=" justify-content-sm-around rounded float " id="tema">
          <div class="row">
            <div class="col">
            <div class="col-sm-12 col-md-6">
          <div class="rounded float-start ">
            <p class="text-justify mt-3">
              Somos uma empresa de agência de viagens sediada em São João Nepomuceno, com foco em serviços de alta qualidade, 100% online. Trabalhamos em parceria com as principais agências de viagens do Brasil, oferecendo os melhores preços e condições. Nossa equipe é experiente e dedicada, com atendimento personalizado e ágil. Comprometemo-nos com transparência, ética e excelência no atendimento ao cliente, buscando constantemente inovação e aprimoramento dos serviços. Confie em nós para tornar sua viagem uma realidade, com as melhores opções de viagens online e um atendimento profissional.
            </p> 
            </div> 
          </div>
          <div class="col">
          <img src="assets/img/banner2.png"  alt="...">
        </div>
        </div>
      </br>  
      </div>
      </div>
      
  </main>

  <footer>
    <section id="rodape">
      <div class="displayBlock centro">
        <p>Desenvolvido por: <span class="autor">Felipe Rodrigues</span></p>
        <p>Abril/2023</p>
      </div>
    </section>
  </footer>
</body>

</html>